/* Google Maps */
#map {
	height: 400px;
	width: 100%;
}

.navbar{
	margin-bottom: 15px;
	background-color: #777;
}


.navbar{
	background-color: #222;
}


.jumbotron{
	margin-top:20px;
}
#jumbo{
	padding:10px;
}


.card-footer{
	margin-bottom:30px;
}

.card-body{
	padding:15px;
}

.card-img-top{
	padding:0px;
}

 #colz{
	 padding: 0px 15px;
	 margin: 0px 0px 10px 0px;
	 height:auto;
}

 form.delete-form{
	 display:inline;
 }

 a.navbar-brand{
	 padding-bottom:7px;
 }

/*CAR IN MAIN*/
.carousel{
	color: white;
	z-index: 0;

}

.carousel img{
	width: 200px;
	height: 400px;
	object-fit: cover;
	z-index: 0;
}

.carousel-caption{
	height: 250px;
	z-index: 0;

}